<head>
    <meta charset="UTF-8">
    <!-- se agrega css mediante el link
 -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--     se agrega el css para el footer -->
    <link rel="stylesheet" href="assets/css/style.css">


    <title>Pagina Web | Demo</title>
</head>

<body>