{{> head}}

{{> navbar}}


<div class="row">

        <div class="col-8">

            <h1>Push yourself, because no one else is going to do it for you.</h1>

        </div>

        <div class="col-4">

            <img src="assets/img/coding.jpg" alt="Beginning" class="img-Thumbnail">
            
        </div>


</div>



{{> footer}}
